@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html {
    width: 100vw;
    height: 100vh;
}
body{
    width: 100%;
    height: 100%;
    background-color: black;
    font-family: 'Poppins' ,sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    width: 85%;
    height: 95%;
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

header .menu, .song{
    position: relative;
    width: 25%;
    height: 90%;
    /*border: 1px solid white;*/
    background-color: #747474;
    color: white;
}

header .song{
    width: 75%;
    background: #444444;
}

header .master{
    width: 100%;
    height: 10%;
    background: #747474;
}

header .menu h1{
    font-size: 20px;
    margin: 15px 0px 0px 20px;
    font-weight: 500;
}

header .menu .playlist{
    margin: 40px 0px 0px 20px;
}

header .menu .playlist h4{
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    color: greenyellow;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .3s linear;
}

header .menu .playlist h4:hover{
    color: white;
}

header .menu .playlist h4 span{
    position: relative;
    margin-right: 35px;
}

header .menu .playlist h4 span::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border: 2px solid greenyellow;
    border-radius: 50%;
    top: -4px;
    transition: .3s linear;
}

header .menu .playlist h4:hover span::before{
    border: 2px solid white;
}

header .menu .playlist h4 .bi{
    display: none;
}

header .menu .playlist .active{
    color: #59981A;
}

header .menu .playlist .active span{
    display: none;
}

header .menu .playlist .active .bi{
    display: flex;
    margin-right: 20px;
}