@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html {
    width: 100vw;
    height: 100vh;
}
body{
    width: 100%;
    height: 100%;
    background-color: black;
    font-family: 'Poppins' ,sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    width: 85%;
    height: 95%;
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

header .menu, .song{
    position: relative;
    width: 25%;
    height: 90%;
    /*border: 1px solid white;*/
    background-color: #747474;
    color: white;
}

header .song{
    width: 75%;
    background: #444444;
}

header .master{
    width: 100%;
    height: 10%;
    background: #747474;
}

header .menu h1{
    font-size: 20px;
    margin: 15px 0px 0px 20px;
    font-weight: 500;
}

header .menu .playlist{
    margin: 40px 0px 0px 20px;
}

header .menu .playlist h4{
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    color: greenyellow;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .3s linear;
}

header .menu .playlist h4:hover{
    color: white;
}

header .menu .playlist h4 span{
    position: relative;
    margin-right: 35px;
}

header .menu .playlist h4 span::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border: 2px solid greenyellow;
    border-radius: 50%;
    top: -4px;
    transition: .3s linear;
}

header .menu .playlist h4:hover span::before{
    border: 2px solid white;
}

header .menu .playlist h4 .bi{
    display: none;
}

header .menu .playlist .active{
    color: #59981A;
}

header .menu .playlist .active span{
    display: none;
}

header .menu .playlist .active .bi{
    display: flex;
    margin-right: 20px;
}

header .menu .menu_song{
    width: 100%;
    height: 300px;
    /*border: 1px solid white;*/
    margin-top: 40px;
}

header .menu .menu_song li{
    position: relative;
    list-style-type: none;
    padding: 5px 0px 5px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s linear;
}

header .menu .menu_song li:hover{
    background: rgba(27, 27, 30, 0.1);
}

header .menu .menu_song li span{
    font-size: 12px;
    font-weight: 600;
    color: greenyellow;
}

header .menu .menu_song li img{
    width: 32px;
    height: 32px;
    margin-left: 25px;
}

header .menu .menu_song li h5{
    font-size: 11px;
    margin-left: 15px;
}

header .menu .menu_song li h5 .subtitle{
    font-size: 9px;
    color: greenyellow;
}

header .menu .menu_song li .bi{
    position: absolute;
    right: 15px;
    top: 6px;
    font-size: 16px;
}

header .master{
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

header .master .wave{
    width: 30px;
    height: 30px;
    border: 1px solid white;
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
}

header .master .wave .wave1{
    width: 3px;
    height: 10px;
    margin-right: 3px;
    border-radius: 10px 10px 0px 0px;
    background: #59981A;
    animation: wave 2s linear infinite;
}

header .master .wave .wave1:nth-child(2){
    height: 13px;
    animation-delay: .4s;
}

header .master .wave .wave1:nth-child(3){
    height: 8px;
    animation-delay: .8s;
}

@keyframes wave{
    0%{
        height: 10px;
    }
    50%{
        height: 15px;
    }
    100%{
        height: 10px;
    }
}